{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>Record Donation</h2>
  {% if donors %}
  <form method="POST">
    <select name="donor_id" required>
      <option disabled selected>Select Donor</option>
      {% for d in donors %}
     <option value="{{ d[0] }}">{{ d[1] }} (ID: {{ d[0] }})</option>
      {% endfor %}
    </select>
    <button type="submit">Record Donation</button>
  </form>
  {% else %}
  <p class="notice">No donors to select. Please add a donor first.</p>
  {% endif %}
</div>
{% endblock %}
